{% extends 'index.html' %}

{% block body %}

    
    <div class="jumbotron text-center">
        <h1>Welcome to the Shopping List App</h1>
        <p class="lead">This application is built to ease access to different shopping lists by users creating a an account and be able to enter the shopping lists with ease!</p>
    </div>

    <div class="container">
        <div class="shopping_list">
            <div class="image">
                <img src="/images/image.jpg" alt="Shopping list">
            </div>
            <div class="info">
                <div class="title">Groceries</div>
                <p>
                    <ul>
                        <li>Cabbage</li>
                        <li>Tomatoes</li>
                        <li>Onions</li>
                        <li>Potatoes</li>
                        <li>Bananas</li>
                    </ul>
                </p>
            </div>
                <div class="meta">
                    <h5>Arnold's list</h5>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="container">
     <div class="Shopping_list">
        <div class="image">
            <img src="/images/image2.png" alt="shopping list">
        </div>
        <div class="info">
            <div class="title">Breakfast</div>
            <p>
                <ul>
                    <li>Milk</li>
                    <li>Bread</li>
                    <li>Blueband</li>
                    <li>eggs</li>
                </ul>
            </p>
        </div>
            <div class="meta">
                <h5>Brian's List</h5>
            </div>
    </div>

{% endblock %}

